<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Nucot May Selenium TestNg seesions" thread-count="4" parallel="tests" verbose="4">
  <test name="HRM Application Nucot">
	  
	  <classes>
	  <class name="com.nucot.qa.hrm.pagetests.HomePageTest"></class>
	  </classes>  
  </test> 
 
 
</suite> <!-- Suite -->
